* {
    margin: 0;
    padding: 0;
}

.margin {
    margin: 15px;
}

.padding {
    padding: 15px;
}

.border {
    border-radius: 10px;
}

.dropShadow {
    filter: drop-shadow(4px 4px 7px gray);
}

.marginBottom {
    margin-bottom: 15px;
}

.blueText {
    color: #2290B0;
}

.center {
    align-items: center;
}

.room {
    background-color: #D8FBF7;
}

.mainBg {
    background-color: #A5CFCC;
    padding-top: 15px;
}

.whiteBg {
    background-color: white;
}

.custom-navbar {
    background: linear-gradient(90deg, #47D5FF 0%, #ABF9CE 100%);
    padding-left: 30px;
}

.whiteText {
    color: white;
}

.blueBg {
    background-color: #47D5FF;
}

.loginHead {
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.announceHead {
    padding: 10px;
}

.medicineSchedule {
    height: 174px;
}

.medicineScheduleDetail {
    height: 174px;
}

.hasInformation {
    height: 427px;
}

.noPl {
    padding-left: 0;
}

.hasHomeIcon::before {
    content: "\f015";
    /* Unicode for FontAwesome home icon */
    font-family: "fontawesome";
    /* Ensure the correct font is used */
    margin-right: 8px;
    /* Space between icon and text */
    color: white;
}

.hasProfileIcon::before {
    content: "\f007";
    /* Unicode for FontAwesome home icon */
    font-family: "fontawesome";
    /* Ensure the correct font is used */
    margin-right: 8px;
    /* Space between icon and text */
    color: white;
}

.loginHead::before {
    content: "\f007";
    /* Unicode for FontAwesome home icon */
    font-family: "fontawesome";
    /* Ensure the correct font is used */
    margin-right: 8px;
    /* Space between icon and text */
    color: white;
}

.featureHead::before {
    content: "\f085";
    /* Unicode for FontAwesome home icon */
    font-family: "fontawesome";
    /* Ensure the correct font is used */
    margin-right: 8px;
    /* Space between icon and text */
    color: white;
}

.announceHead::before {
    content: "\f0f3";
    /* Unicode for FontAwesome home icon */
    font-family: "fontawesome";
    /* Ensure the correct font is used */
    margin-right: 8px;
    /* Space between icon and text */
    color: white;
}

.login {
    height: 205px;
}

.logo {
    height: 40px;
    margin-bottom: 8px;
    margin-right: 10px;
}

.roomBtn {
    border: none;
}

.main-content {
    margin-top: 65px;
}


.featureHead {
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.size50 {
    font-size: 50px;
}

.size25 {
    font-size: 25px;
}

.padding50 {
    padding-left: 50px;
    padding-right: 50px;
}

.square170-250 {
    height: 170px;
    width: 250px;
}

.padding20 {
    padding: 20px;
}

.greenText {
    color: green;
}

.patientImg {
    height: 226px;
    width: 82px;
}

.pluseImg {
    height: 34px;
    width: 30px;
}

.tempImg {
    height: 35px;
    width: 14px;
}

.paddingLeft20 {
    padding-left: 20px;
}

.dlcForm {
    background: linear-gradient(90deg, #82DBF7 0%, #B6F09C 100%);
}

.h1359 {
    height: 1359px;
}
.dlcBtn{
    background: linear-gradient(90deg, #259FC5 0%, #C1FFA5 100%);  
}
.mb80{
    margin-bottom: 80px;
}
.dlcForm p{
    color: #505F63;
    margin-bottom: 6px;
    margin-top: 20px;
}
.dlcgray{
    color: #505F63;
}
.scBg{
    background: #D5D5D5;
}
.scBlue{
    color: #2290B0;
}
.h1Sc{
    margin-top: 150px;
    margin-bottom: 50px;
}